<div id="countdown-container">
  <h2 id="countdown-label">{{ display.label }}</h2>
  <div id="countdown-timer">
    <div>
      <div id="days">{{ display.days }}</div>
      <small>Days</small>
    </div>
    <div>
      <div id="hours">{{ display.hours }}</div>
      <small>Hours</small>
    </div>
    <div>
      <div id="minutes">{{ display.minutes }}</div>
      <small>Minutes</small>
    </div>
    <div>
      <div id="seconds">{{ display.seconds }}</div>
      <small>Seconds</small>
    </div>
  </div>
</div>
